html * {
max-height:1000000px;
}

body {
background-color: #fff;
font-family: "Libre Franklin","Helvetica Neue",helvetica,arial,sans-serif;
font-size: 100%;
line-height: 1.6;
color: rgb(37, 37, 37);
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
margin:0;
word-wrap: break-word;
}

table.sortable thead th{
cursor: pointer;
}

.mobnav-left {
float:left;
width:50%;
text-align:center;
background-color: #fff;
margin-bottom:-1.6em;
}

.mobnav-right {
float:right;
width:50%;
text-align:center;
background-color: #fff;
margin-bottom:-1.9em;
}

.mobnav-links {
display:block;
height:9.5em;
}

.mobnav-link {
font-size: 1.5rem;
font-weight:100;
line-height: 1.6;
text-decoration: none;
border-bottom: 2px solid transparent;
padding-bottom: 0.125em;
color: rgba(0, 0, 0, 0.37);
}

.mobnav-link-p {
font-size: 1.5rem;
line-height: 1.6;
text-decoration: none;
border-bottom: 2px solid transparent;
padding-bottom: 0.125em;
color: rgb(33, 33, 33);
border-bottom-color: rgb(33, 33, 33);
}

.mobnav-link-page {
border-bottom-color: rgb(245, 245, 245);
}

.mobnav-link-item {
list-style-type: none;

}

@media screen and (min-width: 729px) {
.mobnav-left, .mobnav-right {
display:none;
}
}

.mobnav-link:hover, .mobnav-link.active {
color: rgb(33, 33, 33);
font-weight:300;
}

.topnav-container {
position: relative;
margin: 0 auto;
padding-right: 1em;
}

.topnav-links-container {
display: block;
width: auto;
}

.topnav-links {
background: url("../pattern-nav.png");
font-family: "Noto Sans", "Noto Sans CJK JP", 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
list-style-type: none;
height:4.3em;
margin-top:-2.4em;
margin-bottom:-1.8em;
background-color: #fff;
}

@media screen and (max-width: 728px) {
.topnav-links {
display:none;
}
}

@media screen and (min-width: 852px) {
.topnav-link {
font-size: 1.8rem;
}
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
.topnav-link {
font-size: 1.8rem;
padding-right:0.3em;
}
}

@media screen and (min-width: 1200px) {
.topnav-link {
font-size: 1.8rem;
padding-right:0.6em;}
}

@media screen and (max-width: 852px) {
.topnav-link {font-size: 1.5em;}
}

@media screen and (max-width: 728px) {
.topnav-link {
display:none;
}
}

@media screen and (max-width: 728px) {
.topnav-links {
display:none;
}
}

@media screen and (min-width: 852px) {
.topnav-link-p {
font-size: 1.8rem;
}
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
.topnav-link-p {
font-size: 1.8rem;
padding-right:0.3em;
}
}

@media screen and (min-width: 1200px) {
.topnav-link-p {
font-size: 1.8rem;
padding-right:0.6em;}
}

@media screen and (max-width: 852px) {
.topnav-link-p {
font-size: 1.5em;
}
}

@media screen and (max-width: 728px) {
.topnav-link-p {
display:none;
}
}

.topnav-link-p {
color: rgb(33, 33, 33);
text-decoration: none;
font-weight: 300;
border-bottom: 2px solid transparent;
transition: border-bottom-color 50ms linear 0s;
border-bottom-color: rgb(33, 33, 33);
}

.topnav-link {
color: rgba(0, 0, 0, 0.37);
text-decoration: none;
font-weight:300;
border-bottom: 2px solid transparent;
font-weight:100;
text-shadow: 0.01em 0.01em rgba(0, 0, 0, 0.4);
}

.topnav-link:hover, .topnav-link.active {
color: rgb(33, 33, 33);
transition: all .1s ease-in;
font-weight:300;
}

.topnav-link-item {
text-align: center;
line-height: 2em;
display: inline-block;
margin-top: 0.5em;
margin-left: 1em;
line-height:1.6em;
}

.topnav-link-eng {
font-size:0.66em;
color: rgba(0, 0, 0, 0.37);
cursor: context-menu;
font-weight:100;
}

.topnavpage {
text-align: center;
line-height: 2em;
display: inline-block;
margin-top: 0.5em;
margin-left: 1em;
border-bottom-color: rgb(245, 245, 245);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
.topnav-link-eng:hover {
font-size:0.66em;
}
}

@media screen and (min-width: 1200px) {
.topnav-link-eng:hover {
font-size:0.66em;
}
}

.brush {
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
width:100%;
margin-top:0.7em;
margin-bottom:30px;
}

.gazou {
position: fixed;
bottom: 5%;
left: 30%;
right: 30%;
z-index: -1;
}

#itazura {
float:right;
margin-top:1em;
margin-right:0.4em;
width:auto;
height:49px;
padding:0;
filter: invert(75%);
box-shadow:none;
}

@media screen and (max-width: 728px) {
#itazura {
display: none;
}
}

#onnanoko {
display: block;
position: relative;
margin: 0 auto;
z-index: 2;
box-shadow:none;
}

@media screen and (max-height: 628px) {
#onnanoko {
display: none;
}
}

@media screen and (max-width: 728px) and (max-height: 705px) {
#onnanoko {
display: none;
}
}

hr.dotted {
border-top:1px dashed rgb(63, 63, 63);
border-bottom:0px dashed rgba(140, 139, 139, 0.42);
width:100%;
margin-top:30px;
margin-bottom:30px;
}

.ashi {
padding-bottom:75px;
}

.bodymargin {
max-width:44em;
margin:20px auto;
padding:0 1.5rem;
letter-spacing: 0.01em;
line-height: 1.65em;
}

#backtop {
position:fixed;
left:auto;
right:10px;
top:auto;
bottom:20px;
outline:none;
overflow:hidden;
color:#fff;
text-align:center;
background-color:rgb(162, 161, 161);
height:35px;
width:38px;
line-height:32px;
font-size:14px;
border-radius:2px;
border:1px solid rgba(162, 161, 161, 0.47);
cursor:pointer;
z-index:999999;
opacity:1;
}

#backtop:hover {
background-color:rgb(63, 63, 63);
}

#backtop.mcOut {
opacity:0;
}

#top {
margin-top: -285px; 
padding-top: 285px; 
display: inline-block;
}

#top2 {
margin-top: 1em; 
padding-top: 2em; 
display: block;
}

pre {
font-family:MS PGothic;
font-size:1em;
line-height:1.15;
color:rgb(37, 37, 37);
}

.guideheading {
display: block;
font-weight: bold;
font-size:1.2em;
padding-bottom:0.15em;
margin-left:1em;
}

ul.tod {
display:block;
padding:0.4em;
margin-left:2em;
list-style-type: none;
}

li.tod {
margin-left:1em;
}

ul.sections2 {
display:table;
margin: 0 auto;
}

li.sections2 {
margin-right:0.5em;
margin-left:0.5em;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
padding:0.5em;
}

li.sections2:hover {
box-shadow:none;
background-color:rgb(248, 248, 248);
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

a:hover.underscore, a:active.underscore, a.underscore {
color:rgb(0, 136, 204);
text-decoration:none;
}

a:hover.underscore {
color:rgb(37, 37, 37);
text-decoration:none;
border-bottom:1px dotted;
}

a {
color:rgb(37, 37, 37);
text-decoration:none;
}

a.sections {
color:rgb(37, 37, 37);
text-decoration:none;
display:block;
font-weight:500;
}

a.sections:hover {
text-decoration:underline rgb(255, 163, 0);
}

ul.sections {
display:table;
margin: 0 auto
}

li.sections {
font-size:15px;
margin-right:3px;
margin-left:3px;
line-height:350%;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

li.sections:hover {
background-color:rgb(248, 248, 248);
}
table.dojgtab td:hover {
font-weight:400;
}

table.dojgtab td a:hover {
font-weight:600;
}

table.dojgtab td {
font-weight:400;
text-align:left;
padding-top:0.5em;
padding-bottom:0.5em;
padding-right:0.5em;
}

table {
align: center;
table-layout: fixed;
margin: 0;
width: 98%;
font-size:0.80em;
border-collapse:collapse;
background-color:#fff;
margin-bottom:2em;
margin-top:2em;
margin-left:1em;
margin-right:1em;
}

table td:nth-of-type(1), th:nth-of-type(1) {
min-width:auto;
}

td {
border:1px solid black;
}

th {
background-color: rgb(248, 248, 248);
font-size:0.90em;
font-weight:400;
box-shadow:none;
}

tr {
margin-top:20px;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.shift {
display:inline-block;
text-decoration:none;
color:rgb(69, 67, 67);
font-weight:400;
}

a.shift:hover {
font-size:1em;
text-decoration:underline rgb(255, 163, 0);
color: rgb(0, 0, 0);
font-weight:500;
}

.shift:hover {
display:inline-block;
text-decoration:none;
}

.unitname {
text-align:center;
font-weight:700;
font-size:1.3em;
}

.youtubeiframe {
display:block;
width:600px;
height:450px;
margin:auto;
}

img.youtubethumb {
display:inline-block;
margin-left:auto;
margin-right:auto;
margin-top:1em;
margin-bottom:1em;
}

.vocab {
font-size:12px;
text-decoration:none;
cursor:pointer;
width:140px;
height:12px;
background-color:rgb(33, 33, 33);
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
color:rgb(217, 217, 217);
padding:5px;
}

.vocab:hover {
text-decoration:none;
cursor:pointer;
border:none;
box-shadow:none;
background-color:rgb(217, 217, 217);
color:rgb(37, 37, 37);
}

.ran2 {
display:block;
}

.ran3 {
display:inline-block;
vertical-align:top;
text-align:left;
max-width:75%;
font-size:1.2rem;
}

[type=checkbox] {
display:none;
}

:checked + div {
display:block!important;
}

.container2 {
text-align:center;
width:100%;
margin:0 auto;
}

.gimg {
float:right;
margin-right:8em;
margin-left:2em;
margin-bottom:1em;
box-shadow:none;
}

@media screen and (max-width: 450px) {
.gimg {
display:block;
margin:0 auto;
}
}

.gimg2 {
float:right;
margin-right:0.5em;
margin-left:0.1em;
margin-bottom:1em;
box-shadow:none;
}

ul.sections3 {
display:table;
margin-left:1em;
list-style-type: none;
}

ul.toc, ul.tod {
display:block;
padding:0.5em;
margin-left:1em;
}

li.toc, li.tod {
display:block;
padding:2px;
margin-left:20px;
font-size:1.1em;
font-weight:400;
}

.colour,.concept {
color:rgb(192, 47, 29);
font-weight:400;
}

.colour2 {
font-weight:700;
color:rgb(0, 122, 255);
}

.crosslink {
color:rgb(239, 129, 25);
font-size:1.1em;
}

table.dojgdeck {
border-spacing:2px;
width:100%;
}

ul.dojgdeck {
display:block;
list-style-type:none;
padding:0;
margin:0;
}

li.dojgdeck {
display:list-item;
font-size:14px;
line-height:110%;
padding:0 0 12px 20px;
margin:0;
}

td.dojgdeck,th.dojgdeck {
vertical-align:top;
padding:.8em;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

td.dojgdeck:hover,th.dojgdeck:hover {
vertical-align:top;
padding:.8em;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

th.header {
background-color: rgb(248, 248, 248);
padding-top:30px;
}

td.dojgdeck p {
font-variant:small-caps;
font-weight:700;
}

.dojgdeck img {
display:inline-block;
max-width:100%;
padding:1px;
margin:0;
}

textarea {
height:10em;
width:18em;
background-color:rgb(248, 248, 248);
color:rgb(37, 37, 37);
}

code {
font-family:monospace;
font-size:12px;
}

.sub2 {
font-size:0.8em;
}

.structure {
font-size:2em;
font-weight:600;
margin-bottom:1em;
margin-top:1em;
}

.bold {
font-weight: 700;
}

img {
display:block;
margin-left:auto;
margin-right:auto;
max-width:100%;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

#kanabox {
width:90%;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
margin:auto;
padding:.7em 2em 1em;
}

#message {
color:rgb(217, 217, 217);
text-align:center;
font-size:90%;
margin-top:1em;
}

#answer {
color:rgb(37, 37, 37);
text-align:center;
margin-bottom:.4em;
font-size:90%;
visibility:hidden;
margin-bottom:2em;
}

#wrong {
color:red;
font-weight:600;
}

#input {
text-align:center;
margin-top:.8em;
}

#input_box {
text-align:center;
font-size:14px;
color:rgb(37, 37, 37);
width:60%;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
padding:6px;
}

#kana_con {
text-align:center;
font-size:5em;
margin-bottom:0.5em;
}

ul#tools,#count {
margin-top:1em;
font-size:78%;
}

ul#tools {
display:inline-block;
padding:0;
}

ul#tools li {
display:inline;
list-style-type:none;
color:rgb(37, 37, 37);
margin-right:1.2em;
font-weight:700;
}

ul#tools li a {
color:rgb(37, 37, 37);
cursor:pointer;
}

.kanacheck {
display:inline;
}

input[type=checkbox].showkana2 {
}

label.showkana {
display:block;
font-size:14px;
font-weight:700;
float:none;
margin:0 auto;
margin-bottom:4em;
width:200px;
height:auto;
cursor:pointer;
background-color:#fff;
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

label.showkana:hover {
display:block;
float:none;
margin:0 auto;
margin-bottom:4em;
width:200px;
height:auto;
background-color:rgb(248, 248, 248);
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

div.kanahideshow {
display:none;
}

input[type=checkbox]:checked ~ div.kanahideshow {
display:block;
}

h3 {
text-align:center;
margin-top:-1em;
margin-bottom:-1em;
}

.checkall {
margin-left:20%;
font-size:85%;
cursor: pointer;
}

.checkrow {
background-color: rgb(248, 248, 248);
}

.checkrow:hover {
background-color: rgb(248, 248, 248);
}

.fontcheck {
display:inline;
}

#options {
width:46em;
background-color:rgb(37, 37, 37);
border-radius:3px;
margin:1.5em auto;
padding:0;
}

#options_inner {
background-color:rgb(37, 37, 37);
color:rgb(217, 217, 217);
padding:0 1.4em 1.4em;
}

.font_example {
font-size:2.2em;
}

.font_example img {
width:47px;
}

ul.sections4 {
display:table;
margin:0 auto;
font-size:1.5em;
}


.containercor {
max-width:1000px;
margin:0 auto;
padding:1rem;
}

label.corchoice {
display: inline-table;
width:11.5%;
height:2em;
font-size:1.2em;
padding-top:8px;
margin:0 auto;
font-weight:500;
background-color:#fff;
}

label.corchoice:hover {
background-color:rgb(248, 248, 248);
}

.cornav {
padding-left:3em;
margin:0 auto;
max-width:1000px;
}

label {
margin: 0 auto;
cursor:pointer;
font-size:1.3em;
text-align:center;
margin:0.2em;
padding:0.15em;
background-color:#rgb(248, 248, 248);
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.pc-tab > input,.pc-tab section > div {
display:none;
}

input[type="radio"] {
display:none;
}

#tab1:checked ~ section .tab1,#tab2:checked ~ section .tab2,#tab3:checked ~ section .tab3,#tab4:checked ~ section .tab4,#tab5:checked ~ section .tab5,#tab6:checked ~ section .tab6,#tab7:checked ~ section .tab7,#tab8:checked ~ section .tab8,#tab9:checked ~ section .tab9,#tab10:checked ~ section .tab10,#tab11:checked ~ section .tab11,#tab12:checked ~ section .tab12,#tab13:checked ~ section .tab13,#tab14:checked ~ section .tab14,#tab15:checked ~ section .tab15,#tab16:checked ~ section .tab16 {
display:block;
}

#tab1:checked ~ nav .tab1,#tab2:checked ~ nav .tab2,#tab3:checked ~ nav .tab3,#tab4:checked ~ nav .tab4,#tab5:checked ~ nav .tab5,#tab6:checked ~ nav .tab6,#tab7:checked ~ nav .tab7,#tab8:checked ~ nav .tab8,#tab9:checked ~ nav .tab9,#tab10:checked ~ nav .tab10,#tab11:checked ~ nav .tab11,#tab12:checked ~ nav .tab12,#tab13:checked ~ nav .tab13,#tab14:checked ~ nav .tab14,#tab15:checked ~ nav .tab15,#tab16:checked ~ nav .tab16 {
}

table.cor {
font-size:14px;
width:100%;
}

table.cor a{
text-decoration:underline;
}

table.cor a:hover{
text-decoration:underline rgb(255, 163, 0);
font-weight:600;
}

table.cor td:hover {
font-weight:400;
}

.shift2 {
font-size:1.15em;
display: inline-block;
text-decoration: none;
color:rgb(0, 136, 204);
font-weight:100;
margin-top:-0.2em;
}

.shift2:hover {
font-size:1.15em;
display: inline-block;
text-decoration:underline rgb(255, 163, 0);
color: rgb(28, 28, 28);
font-weight:400;
}

.shift3 {
font-size:1.5em;
display: inline-block;
text-decoration: none;
color:rgb(0, 136, 204);
font-weight:100;
}

.shift3:hover {
font-size:1.5em;
display: inline-block;
text-decoration: underline rgb(166, 166, 166);
transition: all .1s ease-in;
color: rgb(28, 28, 28);
font-weight:400;
}

table.man {
max-width:950px;
}

table.man td:nth-of-type(3), th:nth-of-type(3) {
min-width:2em;
}

ul.manpage {
padding:0;
}

li.manpage {
list-style-type:none;
padding-left:1.5em;
padding-top:0.5em;
}

input[type="radio"][id="blue"]:checked + label {
background-color:rgb(81, 81, 81);
color:#fff;
box-shadow:none;
}

input[type="radio"][id="blue"]:checked ~ .red,input[type="radio"][id="blue"]:checked ~ .green,input[type="radio"][id="blue"]:checked ~ .yellow,input[type="radio"][id="blue"]:checked ~ .purple {
display:none;
}

input[type="radio"][id="red"]:checked + label {
background-color:rgb(81, 81, 81);
color:#fff;
box-shadow:none;
}

input[type="radio"][id="red"]:checked ~ .blue,input[type="radio"][id="red"]:checked ~ .green,input[type="radio"][id="red"]:checked ~ .yellow,input[type="radio"][id="red"]:checked ~ .purple {
display:none;
}

input[type="radio"][id="green"]:checked + label {
background-color:rgb(81, 81, 81);
color:#fff;
box-shadow:none;
}

input[type="radio"][id="green"]:checked ~ .blue,input[type="radio"][id="green"]:checked ~ .red,input[type="radio"][id="green"]:checked ~ .yellow,input[type="radio"][id="green"]:checked ~ .purple {
display:none;
}

input[type="radio"][id="yellow"]:checked + label {
background-color:rgb(81, 81, 81);
color:#fff;
box-shadow:none;
}

input[type="radio"][id="yellow"]:checked ~ .blue,input[type="radio"][id="yellow"]:checked ~ .red,input[type="radio"][id="yellow"]:checked ~ .green,input[type="radio"][id="yellow"]:checked ~ .purple {
display:none;
}

.tile {
}

.blue, .red, .yellow, .green {
display:block;
width:14em;
height:26em;
float:left;
margin:0.25em;
background-color:#fff;
font-size:1em;
line-height:1.6;
box-shadow:2px 2px 2px 2px rgba(0,0,0,0.12);
}

.purple {
text-align:left;
margin-left:20px;
margin-bottom:20px;
margin-top:40px;
font-size:18px;
font-weight:700;
text-decoration:none;
color:rgb(37, 37, 37);
}

.purple:hover {
text-decoration:none;
}

.mega {
background-color:rgb(217, 217, 217);
color:rgb(37, 37, 37);
font-weight:700;
-moz-border-radius:.5em;
border-radius:.5em;
padding:1px;
}

.mega:hover {
color:rgb(217, 217, 217);
background-color:rgb(37, 37, 37);
font-weight:700;
-moz-border-radius:.5em;
border-radius:.5em;
padding:1px;
}

.bell {
background-color:rgb(217, 217, 217);
color:rgb(37, 37, 37);
font-weight:700;
-moz-border-radius:4em;
border-radius:4em;
padding:1px;
}

.bell:hover {
color:rgb(217, 217, 217);
background-color:rgb(37, 37, 37);
font-weight:700;
-moz-border-radius:4em;
border-radius:4em;
padding:1px;
}

.mangamargin {
width:90vw;
text-align:center;
margin:0 auto;
}

.whitecontent {
position: relative;
display: inline-block;
margin: 0 auto;
cursor:pointer;
font-size:1.4em;
text-align:center;
margin-right:0.8em;
padding:0.2em;
background-color:rgb(248, 248, 248);
box-shadow:1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.whitecontentdrop {
display: none;
position: absolute;
background-color:rgb(248, 248, 248);
font-size:0.7em;
text-align:left;
width: 400px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.whitecontent:hover .whitecontentdrop {
display: block;
}

.whitecontentdrop a:hover {
display: block;
background-color:rgb(81, 81, 81);
color:#fff;
}

.mangamain {
text-align: center;
}

.left-mangamain {
display: inline-block;
width: 400px;
height: 655px;
padding-right: 4px;
padding-left: 4px;
vertical-align: top;
margin-right: 1px;
background-color: #fff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.right-mangamain {
text-align: left;
display: inline-block;
width: 400px;
height: 655px;
padding-right: 4px;
padding-left: 4px;
vertical-align: top;
margin-left: -1px;
background-color: #fff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.description {
display: block;
max-width: 788px;
padding: 15px;
margin-top: 20px;
line-height: 180%;
text-align: left;
background-color: #fff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

@media screen and (max-width: 836px) {
.description {
max-width:380px;
}
}

@media screen and (max-width: 836px) {
.right-mangamain {
height: auto;
}
}

.bold2 {
display: inline-block;
text-align: center;
font-size: 18px;
margin-top: 20px;
padding: 3px;
background-color: #fff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.kanren {
max-width: 800px;
margin: 0 auto;
}

@media screen and (max-width: 836px) {
.kanren {
max-width: 510px;
}
}

.figure2 {
display: inline-block;
width: 200px;
height: 390px;
vertical-align: top;
padding-left: 10px;
padding-right: 10px;
margin: 15px;
background-color: #fff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}

.figcaption {
font-size: 0.9em;
text-align: left;
padding-top:0.5em;
}

img.dojgimg {
max-width: 740px;
height:auto;
}

.dojgprev a {
margin-top:-1.8em;
float:left;
font-size:1em;
color: rgba(0, 0, 0, 0.68);
}

.dojgnext a {
float:right;
margin-top:-1.8em;
font-size:1em;
color: rgba(0, 0, 0, 0.68);
}

.dojgnext a:hover, .dojgprev a:hover {
color: rgb(33, 33, 33);
font-weight:600;
}

.modechange a {
float:right;
margin-right:0.8em;
margin-top:-3.1em;
padding:0.9em;
color: rgba(0, 0, 0, 0.68);
font-size:1.1em;
font-weight:100;
letter-spacing: 0.3em;	
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.modechange a:hover {
color: rgb(33, 33, 33);
font-weight:300;
}

@media screen and (max-width: 320px) {
.modechange2 a {
display:none;
}
}


.modechange2 a {
float:left;
margin-left:2.77em;
margin-top:-3.1em;
padding:0.9em;
color: rgba(0, 0, 0, 0.68);
font-size:1em;
font-weight:100;
letter-spacing: 0.25em;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.modechange2 a:hover {
color: rgb(33, 33, 33);
font-weight:300;
}

.modechange4 a {
float:right;
margin-right:0.8em;
margin-top:-3.1em;
padding:0.9em;
color: rgba(0, 0, 0, 0.68);
font-size:1em;
font-weight:100;
letter-spacing: 0.25em;
}

.modechange4 a:hover {
color: rgb(33, 33, 33);
font-weight:300;
}

.dayimg {
filter: invert(79%);
max-width:80vw;
}

.dayimgshadowless {
box-shadow:none;
}

p {
font-size:1em;
}

.kanji {
font-size:1.4em;
}

.inverse {
filter: invert(80%);
box-shadow:none;
}

::selection,::-moz-selection,::-o-selection,::-ms-selection,::-webkit-selection {
background-color:rgb(255, 242, 168);
}

.highlight:hover {
text-decoration:none;
font-weight:bold;
color:rgb(255, 99, 71);
}

.quicklinksouter {
position: absolute;
bottom: 30vh;
width: 100%;
}

@media screen and (min-width:1200px) {
.quicklinksouter {
bottom: 40vh;
}
}

@media screen and (max-height:720px) {
.quicklinksouter {
bottom: 8vh;
}
}

@media screen and (max-width:720px) and (max-height:410px){
.quicklinksouter {
display:none;
}
}
@media screen and (min-width:720px) and (max-height:300px){
.quicklinksouter {
display:none;
}
}

@media screen and (max-height:365px) {
.quicklinksouter {
bottom: 0vh;
font-size:0.8em;
}
}

@media screen and (max-height:450px) and (max-width:390px) {
.quicklinksouter {
bottom: -5vh;
font-size:0.8em;
}
}

@media screen and (max-height:360px) and (max-width:390px) {
.quicklinksouter {
display:none;
}
}
.quicklinks{
margin: auto;
width: 250px;
height: 200px;
}

.quicklinks{
margin: auto;
width: 250px;
height: 200px;
color: rgba(0, 0, 0, 0.37);
text-shadow: 0.01em 0.01em rgba(0, 0, 0, 0.17);
}

.quick1 {
color:rgb(30, 25, 20);
font-size:1.2em;
float:left;
padding-right:2em;
padding-bottom:1vw;
background-color:rgba(254, 254, 254,0.8);
}

.quick3 {
color:rgb(30, 25, 20);
font-size:1.2em;
float:right;
padding-left:2em;
padding-top:1vw;
background-color:rgba(254, 254, 254,0.8);
}

.quick3:hover, .quick1:hover {
cursor:pointer;
color:rgb(236, 45, 126);
text-transform: uppercase;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-webkit-transition: all .2s ease-in;
transition: all .2s ease-in;
}

.quick3 a, .quick1 a {
color:inherit;
}

.submenu {
font-size:0.66em;
font-weight:100;
margin-bottom:-1.7em;
padding-top:0.5em;
color: rgb(115, 114, 115);
}

.menudiv {
max-width:95%;
margin:0 auto;
}

.migi {
bottom: 0%;
right: 0%;
position: absolute;
z-index:-9999;
max-height:65vh;
box-shadow:none;
}

.hidarineko {
position: absolute;
bottom: 0%;
left: 0;
z-index:-9999;
max-height:65vh;
margin-left:2em;
margin-bottom:0.5em;
padding:0;
box-shadow:none;
}

.hidari {
position: absolute;
bottom: 0%;
left: 0;
z-index:-9999;
max-height:65vh;
box-shadow:none;
}

@media screen and (max-height:370px) {
.hidari, .migi, .hidarineko {
display:none;
}
}

@media screen and (max-width:390px) and (max-height:590px) {
.hidari, .migi, .hidarineko {
display:none;
}
}

.migi2 {
bottom: 0%;
right: 0%;
position: absolute;
z-index:-9999;
max-height:65vh;
box-shadow:none;
}

.hidari2 {
position: absolute;
bottom: 0%;
left: 0;
z-index:-9999;
max-height:65vh;
box-shadow:none;
}

@media screen and (max-height:370px) {
.hidari2, .migi2 {
display:none;
}
}

@media screen and (max-width:520px) {
.hidari2, .migi2 {
display:none;
}
}

@media screen and (max-width:728px) and (max-height:610px) {
.hidari2, .migi2 {
display:none;
}
}

@media screen and (max-width:728px) and (mix-height:650px) {
.hidari2, .migi2 {
height:30vh;
}
}

@media screen and (max-width:728px) and (max-height:650px) {
.hidari, .migi, .hidarineko {
height:50vh;
}
}

.colour3 {
color: rgb(0, 0, 255);
}

.colour4 {
color: rgb(0, 128, 0);
}

.colour5 {
color: rgb(255, 165, 0);
}

.colour6 {
color: rgb(255, 0, 0);
}

.colour7 {
color: rgb(128, 0, 128);
}

.colour8 {
color: rgb(128, 128, 128);
}

table.conjugation {
font-size:0.85em;
}

#wrong2 {
color: rgb(37, 37, 37);
font-size:5em;
}

.donnaimg {
max-width:720px;
margin-top:1.5em;
margin-bottom:1.5em;
}

.setuzoku {
margin-left:1em;
font-size:1.2em;
}

table.setuzoku td:nth-of-type(1), th:nth-of-type(1) {
min-width:auto;
}

.donnaconcept {
margin-top:2em;
font-size:2em;
font-weight:600;
}

.gyou {
color: #fff;
font-size:2em;
font-weight:600;
background-color: rgb(37, 37, 37);
border-radius: 0.1em;
padding:0.2em;
}

table.donnatable {
font-size:1.5em;
border-collapse:collapse;
margin:auto;
}

table.donnatable td {
min-width:0.5em;
padding-top:0.5em;
padding-bottom:0.5em;
padding-left:0.6em;
padding-right:0.6em;
}

.sanshou {
font-size:1.2em;
}

span.sanshou {
color: #fff;
background-color: rgb(37, 37, 37);
border-radius: 0.1em;
}

.sanshou a {
color:rgb(0, 136, 204);
text-decoration:none;
border-bottom:1px dotted;
}

.sanshou a:hover {
color:rgb(37, 37, 37);
background-color:rgb(218, 218, 250);
text-decoration:none;
border-bottom:1px dotted;
}

table.archive td:nth-of-type(1), th:nth-of-type(1) {
min-width:auto;
padding:1em;
}

.guideheading2 {
font-size:1.5em;
display:inline-block;
color:rgb(0,2,255);
}


.modechange3 a {
position:absolute;
bottom:0;
right:0;
padding:0.9em;
color: rgba(0, 0, 0, 0.68);
font-size:1.06em;
font-weight:100;
letter-spacing: 0.3em;
}

.modechange3 a:hover {
color: rgb(33, 33, 33);
font-weight:300;
}

.guideheading3 {
color:rgb(255, 0, 0);
text-indent: 2em;
}

.kanji td {
display: inline-block;
font-size:1.25em;
}

table.kanji td, th {
min-width:1em;
padding:0.5em;
border: 0.1em solid rgb(0, 0, 0);
}

.kanji td a:hover {
color:rgb(255, 0, 0);
font-weight:400;
}

table.horon td, horon th {
min-width:auto;
text-align: top;
vertical-align: top;
border: 0.1em solid rgb(0, 0, 0);
}

.colour9 {
background-color:#fff;
color:rgb(148, 16, 39);
font-size:1em;
font-weight:600;
}

.kanjidamage {
display:inline-block;
font-family: EPSON 教科書体Ｍ;
font-size: 12em;
margin-top:10%;
margin-right:0.1em;
float:right;
}

.kanjidamageanswer {
max-width:65%;
}

.onyomi-big {
font-size: 2.5em;
color: rgb(0, 96, 243);
}

.onyomi-small {
color: rgb(0, 96, 243);
}

.keyword-big {
font-size: 2.2em;
color: rgb(0, 128, 0);
}

.keyword-small {
color: rgb(0, 128, 0);
}

.kanjidamageradical {
color: rgb(145, 204, 120);
}

.kanjidamageother {
color: rgb(231, 123, 10);
}

.kanjidamageokurigana {
color: rgb(231, 123, 10);
font-weight:600;
}

.Card {
height:18em;
}

hr.kanjidotted {
border-top:1px dashed rgb(63, 63, 63);
border-bottom:0px dashed rgba(140, 139, 139, 0.42);
width:100%;
margin-top:60px;
margin-bottom:60px;
}

.haiku {
margin: 0 auto;
width: 20em;
text-align:left;
padding-bottom:2em;
font-size:1.5em;
font-family: ＤＦ教科書体w4;
}

h2.haiku {
text-align:left;
font-size:1.6em;
margin-left:2em;
font-family: ＤＦ教科書体w4;
}

a.haiku {
text-align:left;
font-size:1em;
margin-left:2em;
font-family: ＤＦ教科書体w4;
color:rgb(0, 136, 204);
text-decoration:none;
}

img.shoufixed {
min-width:200px;
min-height:300px;
}

.mainfooter {
margin-top: calc(99vh - 4em);
left:0;
bottom:0;
height:auto;
width:100%;
color: #fff;
background-color: rgb(37, 37, 37);
overflow:auto;
}

.column {
float: left;
font-weight:100;
margin-left:0.25em;
margin-right:0.25em;
}

ul.column {
list-style-type: none;
padding-bottom:5em;
font-size:0.8em;
}

li.column {
padding-bottom:1em;
clear:both;
}

a.column {
text-decoration:none;
color: rgb(217, 217, 217);
}

a.column:hover {
color:rgb(0, 136, 204);
font-weight:300;
}
.ashi2 {
padding-bottom:3em;
}

#bookmark {
position:absolute;
left:0px;
right:0px;
width:100%;
height:40px;
background-color:red;
opacity:.3;
}

img.bottomhanko {
display:block;
padding-bottom:1em;
}
div.bottomhanko{
background-color: rgb(37, 37, 37);
}


pre.niwasa {
max-width:44em;
margin:20px auto;
padding:0 1.5rem;
letter-spacing: 0.04em;
line-height: 1.8em;
background-color: #fff;
font-family: "Libre Franklin","Helvetica Neue",helvetica,arial,sans-serif;
font-size: 100%;
line-height: 1.63;
color: rgb(37, 37, 37);
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
}

table#nekotable {
margin:0 auto;
width:95%;
}

table#nekotable tr td:nth-child(1) {
min-width:200px;
min-height:300px;
padding:0;
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}

table#nekotable tr td:nth-child(2) {
max-width:30vw;
white-space:wrap;
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}

table#nekotable tr td:nth-child(3) {
max-width:15vw;
white-space:wrap;
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}

table#nekotable tr td:nth-child(4) {
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}

table#nekotable tr td:nth-child(5) {
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}

table#nekotable tr td:nth-child(6) {
box-shadow:1px 0px 1px 0px rgba(0,0,0,0.06), 1px 1px 1px 1px rgba(0,0,0,0.24);
}
